body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
}
nav {
  background: #fff;
  background: rgba(255,255,255,0.9);
  box-shadow: 0 1px 3px rgba(0,0,0,0.4);
  font-size: 1.2em;
  height: 64px;
  z-index: 99;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  font-weight: 300;
}
nav #user {
  cursor: pointer;
  font-size: 0.7em;
  float: right;
  width: 123px;
  height: 64px;
  -webkit-transition: all 250ms ease;
          transition: all 250ms ease;
}
nav #user figure {
  margin: 5px;
}
nav #user img {
  width: 35px;
  height: 35px;
  display: inline-block;
}
nav #user:hover {
  background: #7092ed;
  color: #fff;
}
nav #dropdown {
  position: absolute;
  right: 70px;
  top: 64px;
  background: #7092ed;
}
nav ul {
  display: block;
  text-align: center;
  margin: 0 70px;
  padding: 0;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  color: #333;
  float: left;
  display: block;
  text-decoration: none;
  padding: 20px 40px;
  -webkit-transition: all 250ms ease;
          transition: all 250ms ease;
}
nav ul li a:hover {
  background: #7092ed;
  color: #fff;
}
.fb-login-button {
  padding: 19px 19px;
}
#splash {
  background: rgba(80,80,80,0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}
#alert {
  position: fixed;
  top: 50%;
  left: 50%;
  background: #fff;
  text-align: center;
  margin: -200px 0 0 -250px;
  padding: 100px;
  width: 300px;
  max-width: 100%;
  box-shadow: 0 4px 20px #000;
}
#plane {
  position: fixed;
  top: 100%;
  -webkit-animation: animation 5s linear 0s infinite;
  animation: animation 5s linear 0s infinite;
}
#header {
  position: relative;
  padding-bottom: 80px;
}
#header h1,
#header #description {
  text-align: center;
  color: #fff;
  font-weight: 300;
  text-shadow: 0 0 15px rgba(0,0,0,0.6);
}
#header h1 {
  padding: 2.3em 1em 0.8em 1em;
  margin: 0;
  font-size: 5em;
}
#header #description {
  padding: 0 0 1em 0;
  margin: 0 20%;
  line-height: 2em;
}
#header #bg {
  background: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  opacity: 0.5;
  height: 100%;
  width: 100%;
}
#header #bgOverlay {
  background: #000;
  opacity: 0.8;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}
#gallery {
  clear: both;
  padding-top: 1em;
  text-align: center;
  font-size: 0.8em;
}
.cell {
  display: inline-block;
  margin: 2em 1em 1em 1em;
}
.cell a {
  display: inline-block;
}
.cell img {
  width: 320px;
  height: 320px;
}
.cell figcaption {
  height: 50px;
}
.cell figcaption img {
  vertical-align: middle;
  width: auto;
  height: auto;
  margin: 0 5px;
  cursor: pointer;
}
.cell figcaption img:hover {
  opacity: 0.8;
}
.cell figcaption img:active {
  opacity: 1;
}
#bar {
  margin: 0 70px;
}
#order {
  float: left;
}
#search {
  float: right;
}
input,
select {
  display: inline-block;
  line-height: 1.85em;
  margin: 15px 0;
  padding: 5px;
  border: 1px #888 solid;
  border-radius: 0;
}
.btn:hover {
  border-color: #7092ed;
  background: #7092ed;
  color: #fff;
}
#searchTxt,
#searchBtn {
  display: inline-block;
}
#searchTxt {
  width: 300px;
  color: #888;
}
#searchTxt:hover {
  border-color: #000;
}
#searchTxt:focus {
  border-color: #7092ed;
}
footer {
  clear: both;
  text-align: center;
  letter-spacing: 2px;
  padding: 5em 1em;
  background: #eee;
}
.center {
  margin: 1em auto;
  float: left;
  width: 50%;
}
#developer {
  float: right;
  padding: 0 1em;
}
#developer img {
  width: 100%;
}
#devtext {
  padding: 3.3em 1em;
}
.content {
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
  line-height: 1.2;
  max-width: 900px;
  padding: 0 70px;
  margin: 0 auto;
}
.content h1,
.content h2,
.content h3 {
  font-weight: 500;
  padding: 0 0 0.3em 0;
  border-bottom: 1px solid #eee;
}
.content p {
  margin: 0 0 1em 1em;
}
@-webkit-keyframes animation {
  0% {
    top: 80%;
    left: -400px;
  }
  100% {
    top: -50px;
    left: 100%;
  }
}
@keyframes animation {
  0% {
    top: 80%;
    left: -400px;
  }
  100% {
    top: -50px;
    left: 100%;
  }
}

/*# sourceMappingURL=style.css.map */