body {
  margin: 0;
  font-family: helvetica, arial, sans-serif;
  color: #333;
}
nav {
  background: #fff;
  background: rgba(255,255,255,0.9);
  box-shadow: 0 1px 3px rgba(0,0,0,0.4);
  font-size: 1.2em;
  height: 42px;
  z-index: 99;
  font-weight: 300;
}
nav .fb-login-button {
  float: right;
}
nav ul {
  display: block;
  text-align: center;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  margin: 0;
  padding: 0;
  height: 48px;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  color: #333;
  float: left;
  display: block;
  text-decoration: none;
  padding: 10px;
}
nav ul li a:hover {
  background: #88f;
  color: #fff;
}
.fb-login-button {
  padding: 8px 10px;
  margin: 0 50px;
}
#splash {
  background: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.alert {
  background: #fff;
  text-align: center;
  margin: 200px;
  padding: 100px;
  box-shadow: 0 4px 20px #000;
}
