@import url(http://fonts.googleapis.com/css?family=Merriweather)
// from normalize.css
a
    background-color transparent
    color #7092ed


    &:active, &:hover
        outline 0
        text-decoration underline
strong
    font-weight bold
h1
    font-size 2em
    margin 0.67em 0
img
    border 0

// user styles
$pad = 70px
body
    margin 0
    font-family "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif
    word-wrap break-word
nav
    background #fff
    background rgba(255, 255, 255, 0.9)
    box-shadow 0 1px 3px rgba(0, 0, 0, 0.4)
    font-size 1.2em
    font-weight 300
    padding 0
    z-index 99
    position fixed
    top 0px
    right 0px
    left 0px
    transition all 250ms ease
    #user
        display none
        cursor pointer
        font-size 0.7em
        float right
        width 123px
        height 64px
        figure
            margin 5px
        img
            width 35px
            height 35px
            display inline-block
        &:hover
            background #7092ed
            color #fff
    #dropdown
        position absolute
        right $pad
        top 64px
        background #7092ed
    ul
        display block
        text-align center
        margin 0
        padding 0
        li
            width 100%
            display inline-block
            a
                width 87%
                color #333
                float left
                display block
                text-decoration none
                padding 20px 40px
                height 24px
                transition all 250ms ease
                &:hover
                    text-decoration none
                    background #7092ed
                    color #fff
.fb-login-button
    padding 19px
#splash
    background rgba(80, 80, 80, 0.8)
    position fixed
    top 0
    left 0
    right 0
    bottom 0
    z-index 999
    #alert
        position fixed
        top 50%
        left 50%
        background #fff
        text-align center
        margin -200px 0 0 -250px
        padding 100px
        width 300px
        max-width 100%
        box-shadow 0 4px 20px #000
    #plane
        position fixed
        top 100%
        -webkit-animation animation 5s linear 0s infinite /* Chrome, Safari, Opera */
        animation animation 5s linear 0s infinite
@keyframes animation
    0%
        top 80%
        left -400px
    100%
        top -50px
        left 100%
#header
    position relative
    padding-bottom 80px
    h1, #description
        text-align center
        color #fff
        font-weight 300
        text-shadow 0 0 15px rgba(0,0,0,0.6)
    h1
        padding 2.3em 1em .8em 1em
        margin 0
        font-size 5em
    #description
        padding 0 0 1em 0
        margin 0 20%
        line-height 2em
    #bg
        background #fff
        background-size cover
        background-repeat no-repeat
        filter blur(2px)
        opacity 0.5
        height 100%
        width 100%
    #bgOverlay
        background black
        opacity 0.8
        position absolute
        height 100%
        width 100%
        z-index -1

input, select
    display inline-block
    margin 15px 0
    padding 5px
    border 1px #bbb solid
    border-radius 0
    box-sizing content-box
    height 20px
    text-transform none
    &:hover
        box-shadow 0 1px 2px #999
    &:focus
        border-color #7092ed
.btn
    -webkit-appearance button
    cursor pointer
    &:hover
        border-color #7092ed
        background #7092ed
        color #fff
#bar
    padding 0 $pad
    background #eee
    &:after
        clear both
        content ""
        display block
    #order
        float left
        #sort
            height 30px
            padding 0
    #search
        float right
        #searchTxt
            -webkit-appearance none
            width 120px
.content
    font-family 'Merriweather', serif
    padding 0 20px
    max-width 900px
    margin 0 auto
    h1, h2, h3
        font-weight 500
        padding 0 0 0.3em 0
        border-bottom 1px solid #eee
    p
        line-height 1.2em
        margin 0 0 1em 1em
#gallery
    clear both
    text-align center
    font-size 0.9em
    margin 1em 0
    .cell
        display inline-block
        margin 1em 1em 1em 1em
        a
            display inline-block
        img
            width 320px
            height 320px
            &:hover
                box-shadow 0 1px 2px 1px #999
        figcaption
            text-align left
            height 40px
            img
                vertical-align:middle
                width auto
                height auto
                margin 0 5px
                cursor pointer
                &:hover
                    opacity 0.7
                    box-shadow none
                &:active
                    opacity 1
footer
    display block
    clear both
    text-align center
    letter-spacing 2px
    padding 5em 1em
    background #eee
.center
    margin 1em auto
    float left
    width 50%
.left
    float left
    width 255px
.right
    float right
#developer
    float right
    padding 0 1em
    img
        width 100%
#devtext
    padding 3.3em 1em

// breakpoint at > 760px
// destop nav
@media (min-width 760px)
    nav
        height 64px
        #user
            display inline-block
    #bar
        #search
            #searchTxt
                width 300px
@media (min-width 632px)
    nav
        padding 0 $pad
        ul
            li
                width auto
                a
                    width auto
    .content
        padding 0 $pad
